<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="a-center"> {{ servicioT.tituloActividades }}</h2>
            <app-cardservice [servicio]="servicioT"></app-cardservice>


            <app-contact></app-contact>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mx-auto my-5" *ngFor="let vid of servicioT.video; let i=index">

        <a [href]="vid.video" target="_blank"><img class="img-fluid z-depth-1" [src]="vid.imagen" alt="video" data-toggle="modal" data-target="#modal1"></a>
    </div>
</div>