<app-jumbotron></app-jumbotron>

<h2 class="h3 mb-3 text-center">{{ 'home.titulo1' | translate }}</h2>

<section class="servicios py-2 text-xs-center section-card">
    <div class="row">
        <div class="col-md-3  mx-auto my-5" *ngFor="let serv of listaService">
            <app-card [servicio]="serv" [index]="serv.id"></app-card>
        </div>
    </div>
</section>

<section class="servicios py-2 text-xs-center gris">
    <div class="container">
        <h2 class="h3 mb-3">Nuestros Servicios</h2>

        <div class="row">
            <div class="col-md-4 text-center">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <h3 class="h5">Aplicaciones para la nube</h3>
                <p>Para empresa que requiera ampliar sus plataformas de gestión.</p>
            </div>

            <div class="col-md-4 text-center">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <h3 class="h5">Fábrica de software</h3>
                <p>Servicios de mejora correctiva y evolutiva para sus aplicaciones.</p>
            </div>

            <div class="col-md-4 text-center">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h3 class="h5">Diseño personalizado</h3>
                <p>Customiza hasta el último píxel de tu App. Infinitas Posibilidades.</p>
            </div>
        </div>
    </div>
</section>

<section class="servicios py-2 text-xs-center section-card">
    <h2 class="bord-px h3 mb-3">{{ 'home.titulo2' | translate }}</h2>
    <div class="row">
        <div class="col-md-3  mx-auto my-5" *ngFor="let serv of listaPacks">
            <app-card [servicio]="serv" [index]="serv.id"></app-card>
        </div>
    </div>
</section>

<section class="servicios py-2 text-xs-center gris section-card">
    <h2 class="bord-px h3 mb-3">{{ 'home.titulo5' | translate }}</h2>
    <div class="row">
        <div class="col-md-3  mx-auto my-5" *ngFor="let serv of listaTeam">
            <app-card [servicio]="serv" [index]="serv.id"></app-card>
        </div>
    </div>
</section>

<section class="servicios py-2 text-xs-center section-card">
    <h2 class="bord-px h3 mb-3">{{ 'contactos.Contact us' | translate }}</h2>
    <app-contact [contactHomePage]="false"></app-contact>
</section>

<app-whoare></app-whoare>
