<section class="servicios py-2 text-xs-center gris">
    <div class="container">
        <h2 class="h3 mb-3">Quienes somos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima. >Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.>Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        <div class="row">
            <div class="col-md-4 text-center">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <h3 class="h5">Aplicaciones para la nube</h3>
                <p>Para empresa que requiera ampliar sus plataformas de gestión.</p>
            </div>

            <div class="col-md-4 text-center">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <h3 class="h5">Fábrica de software</h3>
                <p>Servicios de mejora correctiva y evolutiva para sus aplicaciones.</p>
            </div>

            <div class="col-md-4 text-center">
                <i class="fa fa-check" aria-hidden="true"></i>
                <h3 class="h5">Diseño personalizado</h3>
                <p>Customiza hasta el último píxel de tu App. Infinitas Posibilidades.</p>
            </div>
        </div>
    </div>
</section>