<section class="servicios py-2 text-xs-center gris section-card">
    <h2 class="h3 mb-3">Quienes somos</h2>
    <div class="row">
        <div class="col-md-4 text-center">



            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img [src]="contact.imagen"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h4 class="card-title">
                        <strong>{{contact.nombre}}</strong>
                    </h4>
                    <h5>{{contact.profesion}}</h5>

                    <!--Facebook-->
                    <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!--Twitter-->
                    <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
                        <i class="fab fa-twitter"></i>
                    </a>
                    <!--Google +-->
                    <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbWavesEffect>
                        <i class="fab fa-dribbble"></i>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->

        </div>

        <div class="col-md-8 text-center">
            <h3 class="h5">Dónde estamos</h3>
            <mdb-icon fas icon="map-marker-alt" class="mr-3"></mdb-icon> {{contact.direccion}}

            <h3 class="h5 h3-separado">Nuestra misión</h3>
            <mdb-icon fas icon="bullhorn" class="mr-3"></mdb-icon> {{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis
            molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate
            odit minima. >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta
            doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
            porro voluptate odit minima.>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam
            minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
            placeat ratione porro voluptate odit minima.'}}
        </div>
    </div>
</section>