<!-- --------------Prueba------------ -->
<section class="servicios py-2 text-xs-center gris section-card">


    <div class="container">
        <div class="row">
            <div class="col presentacion">
                <h2 class="tit">Presentación de cada servicio</h2>
                <br>
                <h2 class="tit1">DISPONEMOS:</h2>
                <p class="des">
                    De una gran variedad de propiedades en base a sus necesidades
                </p>

                <h2 class="tit1">OFRECEMOS:</h2>
                <p class="des">
                    Apartamentos completamente equipados en las mejores zonas de de isla, las más exclusivas Villas, o alojamiento en los mas prestigiosos Hoteles de Ibiza ( Ushuaia, Ushuaia Tower, Hard Rock Hotel, Hotel Pacha, Hotel Destino, etc.)
                </p>
                <h2 class="bord-px1"></h2>
                <button mdbBtn type="button" color="mdb-color" data-toggle="modal" data-target="#modal1" mdbWavesEffect>Más Información</button>

            </div>
            <div class="col">
                <!--Content-->
                <div class="modal-content">

                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gsNY7TV4r1M" allowfullscreen></iframe>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center flex-column flex-md-row">
                        <span class="mr-4">Unetenos!</span>
                        <div>
                            <a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!--Twitter-->
                            <a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
                                <i class="fab fa-twitter"></i>
                            </a>
                            <!--Google +-->
                            <a type="button" mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
                                <i class="fab fa-google-plus"></i>
                            </a>
                            <!--Linkedin-->
                            <a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>


                    </div>

                </div>
                <!--/.Content-->
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dimiss="modal" aria-label="close">
                         &times;
                        </button>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam modi possimus tempora impedit eaque ex maiores, sunt porro ratione ab quos laborum ipsam repudiandae labore architecto. Quo corporis neque incidunt!
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ------------------------------------------ -->




<section class="servicios py-2 text-xs-center gris section-card">
    <div class="row">
        <div class="col-md-3 mx-auto my-5" *ngFor="let serv of listaServes">
            <app-card [servicio]="serv" [index]=serv.id></app-card>
        </div>
    </div>
</section>
<section class="servicios py-2 text-xs-center  section-card">
    <div class="container">
        <div class="row">
            <div class="col">
                <!--Content-->
                <div class="modal-content">

                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gsNY7TV4r1M" allowfullscreen></iframe>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center flex-column flex-md-row">
                        <span class="mr-4">Unetenos!</span>
                        <div>
                            <a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!--Twitter-->
                            <a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
                                <i class="fab fa-twitter"></i>
                            </a>
                            <!--Google +-->
                            <a type="button" mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
                                <i class="fab fa-google-plus"></i>
                            </a>
                            <!--Linkedin-->
                            <a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>


                    </div>

                </div>
                <!--/.Content-->
            </div>
            <div class="col presentacion">
                <h2 class="titr">Necesitas y codiciones del servicio</h2>
                <br>
                <h2 class="titr1">DISPONEMOS:</h2>
                <p class="desr">
                    De una gran variedad de propiedades en base a sus necesidades
                </p>

                <h2 class="titr1">OFRECEMOS:</h2>
                <p class="desr">
                    Apartamentos completamente equipados en las mejores zonas de de isla, las más exclusivas Villas, o alojamiento en los mas prestigiosos Hoteles de Ibiza ( Ushuaia, Ushuaia Tower, Hard Rock Hotel, Hotel Pacha, Hotel Destino, etc.)
                </p>
                <h2 class="bord-px1"></h2>
                <button mdbBtn type="button" color="mdb-color" mdbWavesEffect>Más Información</button>
            </div>

        </div>
    </div>
</section>

<section class="servicios py-2 text-xs-center section-card">
    <h2 class="bord-px h3 mb-3">{{ 'contactos.Contact us' | translate }}</h2>
    <app-contact [contactHomePage]="false"></app-contact>
</section>