<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark mdb-color pt-4">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" class="d-inline-block align-top" alt=""> Mallorca DS Concierge
        </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']">{{ 'header.Home' | translate }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/services','Services']">{{ 'header.Services' | translate }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/services','Packs']">{{ 'header.Packs' | translate }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/services','Team']">{{ 'header.Team' | translate }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/contact']">{{ 'header.Contact' | translate }} </a>
            </li>
        </ul>
        <!-- Links -->

        <!-- Search form -->
        <div>
            <mdb-navbar-brand>
                <links>
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown btn-group" routerLinkActive="active" dropdown>
                            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            {{ 'header.Language' | translate }}<span class="caret"></span></a>
                            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                                <a *ngFor="let lang of lenguaje" class="dropdown-item waves-light" (click)="cambiar(lang)" mdbWavesEffect>{{ lang}}</a>

                            </div>
                        </li>
                    </ul>
                </links>
            </mdb-navbar-brand>
        </div>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark mdb-color pt-4">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" class="d-inline-block align-top" alt=""> Mayorca DS {{'header.Concierge' | translate}}
        </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']">{{ 'header.Home' | translate }} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/services','Services']">{{ 'header.Services' | translate }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/services','Packs']">{{ 'header.Packs' | translate }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/services','Team']">{{ 'header.Team' | translate }}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/contact']">{{ 'header.Contact' | translate }} </a>
            </li>
            <li class="nav-item dropdown btn-group" routerLinkActive="active" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        {{ 'header.Language' | translate }}<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a *ngFor="let lang of lenguaje" class="dropdown-item waves-light" (click)="cambiar(lang)" mdbWavesEffect>{{ lang}}</a>

                </div>
            </li>

        </ul>
    </links>
</mdb-navbar> -->