.main-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-mar-left {
    margin-left: 5px;
}

.body {
    padding-bottom: 50px;
}

.bord-px {
    text-align: center;
    padding-top: 15px;
    /*border-top: 1px solid;*/
}

.a-center {
    text-align: center;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.elegant-color {
    background-color: #45526e !important;
}


/*Estilos bloque Servicios*/

.servicios .fa {
    color: #45526e;
    font-size: 6rem;
}

.servicios h3 {
    font-weight: bold;
}

.servicios .h3 {
    text-align: center;
}

.gris {
    background-color: #f5f5f5;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top center;
    margin-top: px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.section-card {
    padding-right: 15px;
    padding-left: 15px;
}

.mr-3, .mx-3 {
    margin-right: 0px !important;
}

.leer-mas {
        font-size: 0.9rem !important;
}

.card {
    min-height: 30rem !important;
}