.main-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-mar-left {
  margin-left: 5px;
}

.body {
  padding-bottom: 50px;
}

.bord-px {
  text-align: center;
  padding-top: 15px;
  /*border-top: 1px solid;*/
}

.a-center {
  text-align: center;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.elegant-color {
  background-color: #45526e !important;
}
